#_wysiwyg_fontSize_normal {
  --wysiwyg-font: var(--wysiwyg-font-desktop);
  font-size: var(--wysiwyg-font-desktop);
}
@media only screen and (max-width: 899px) {
  #_wysiwyg_fontSize_normal {
    font-size: var(--wysiwyg-font-tablet);
    --wysiwyg-font: var(--wysiwyg-font-tablet);
  }
}
@media only screen and (max-width: 599px) {
  #_wysiwyg_fontSize_normal {
    font-size: var(--wysiwyg-font-phone);
    --wysiwyg-font: var(--wysiwyg-font-phone);
  }
}
._wysiwyg4all[contenteditable='true'][placeholder]:empty:before {
  color: var(--placeholder);
  content: attr(placeholder);
  word-break: break-word;
  display: inline-block;
  margin: 0;
  line-height: 1.6em;
  letter-spacing: 0.025em;
  cursor: text;
}
._wysiwyg4all {
  background-color: var(--content);
  color: var(--content-text);
  word-break: break-word;
  box-sizing: border-box;
  min-height: 1.6em;
  letter-spacing: 0.025em;
  display: block;
  user-select: text;
  --wysiwyg-font: var(--wysiwyg-font-desktop);
  font-size: var(--wysiwyg-font-desktop);
}
@media only screen and (max-width: 899px) {
  ._wysiwyg4all {
    font-size: var(--wysiwyg-font-tablet);
    --wysiwyg-font: var(--wysiwyg-font-tablet);
  }
}
@media only screen and (max-width: 599px) {
  ._wysiwyg4all {
    font-size: var(--wysiwyg-font-phone);
    --wysiwyg-font: var(--wysiwyg-font-phone);
  }
}
._wysiwyg4all:focus {
  outline: 0;
}
._wysiwyg4all > *,
._wysiwyg4all > blockquote > * {
  display: block;
  word-break: break-word;
}
._wysiwyg4all > *:not(hr):not(blockquote):not(._media_):not(._custom_):not(ul):not(ol),
._wysiwyg4all > blockquote > *:not(hr):not(blockquote):not(._media_):not(._custom_):not(ul):not(ol) {
  margin: 0;
}
._wysiwyg4all ._alignCenter_ {
  text-align: center;
}
._wysiwyg4all ._alignRight_ {
  text-align: right;
}
._wysiwyg4all ._hover_ {
  cursor: pointer;
}
._wysiwyg4all p,
._wysiwyg4all h1,
._wysiwyg4all h2,
._wysiwyg4all h3,
._wysiwyg4all h4,
._wysiwyg4all h5,
._wysiwyg4all h6,
._wysiwyg4all small,
._wysiwyg4all i,
._wysiwyg4all li,
._wysiwyg4all td,
._wysiwyg4all th {
  line-height: 1.6;
  font-weight: normal;
  white-space: pre-wrap;
}
._wysiwyg4all p *,
._wysiwyg4all h1 *,
._wysiwyg4all h2 *,
._wysiwyg4all h3 *,
._wysiwyg4all h4 *,
._wysiwyg4all h5 *,
._wysiwyg4all h6 *,
._wysiwyg4all small *,
._wysiwyg4all i *,
._wysiwyg4all li *,
._wysiwyg4all td *,
._wysiwyg4all th * {
  display: inline;
}
._wysiwyg4all p span,
._wysiwyg4all h1 span,
._wysiwyg4all h2 span,
._wysiwyg4all h3 span,
._wysiwyg4all h4 span,
._wysiwyg4all h5 span,
._wysiwyg4all h6 span,
._wysiwyg4all small span,
._wysiwyg4all i span,
._wysiwyg4all li span,
._wysiwyg4all td span,
._wysiwyg4all th span {
  text-decoration: inherit;
  vertical-align: baseline;
}
._wysiwyg4all p span:empty,
._wysiwyg4all h1 span:empty,
._wysiwyg4all h2 span:empty,
._wysiwyg4all h3 span:empty,
._wysiwyg4all h4 span:empty,
._wysiwyg4all h5 span:empty,
._wysiwyg4all h6 span:empty,
._wysiwyg4all small span:empty,
._wysiwyg4all i span:empty,
._wysiwyg4all li span:empty,
._wysiwyg4all td span:empty,
._wysiwyg4all th span:empty {
  display: inline-block;
}
._wysiwyg4all p ._hashtag_,
._wysiwyg4all h1 ._hashtag_,
._wysiwyg4all h2 ._hashtag_,
._wysiwyg4all h3 ._hashtag_,
._wysiwyg4all h4 ._hashtag_,
._wysiwyg4all h5 ._hashtag_,
._wysiwyg4all h6 ._hashtag_,
._wysiwyg4all small ._hashtag_,
._wysiwyg4all i ._hashtag_,
._wysiwyg4all li ._hashtag_,
._wysiwyg4all td ._hashtag_,
._wysiwyg4all th ._hashtag_ {
  color: var(--content-text);
  font-weight: bold;
}
._wysiwyg4all p ._urllink_,
._wysiwyg4all h1 ._urllink_,
._wysiwyg4all h2 ._urllink_,
._wysiwyg4all h3 ._urllink_,
._wysiwyg4all h4 ._urllink_,
._wysiwyg4all h5 ._urllink_,
._wysiwyg4all h6 ._urllink_,
._wysiwyg4all small ._urllink_,
._wysiwyg4all i ._urllink_,
._wysiwyg4all li ._urllink_,
._wysiwyg4all td ._urllink_,
._wysiwyg4all th ._urllink_ {
  color: var(--content-text);
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
._wysiwyg4all p ._urllink_:hover,
._wysiwyg4all h1 ._urllink_:hover,
._wysiwyg4all h2 ._urllink_:hover,
._wysiwyg4all h3 ._urllink_:hover,
._wysiwyg4all h4 ._urllink_:hover,
._wysiwyg4all h5 ._urllink_:hover,
._wysiwyg4all h6 ._urllink_:hover,
._wysiwyg4all small ._urllink_:hover,
._wysiwyg4all i ._urllink_:hover,
._wysiwyg4all li ._urllink_:hover,
._wysiwyg4all td ._urllink_:hover,
._wysiwyg4all th ._urllink_:hover {
  color: var(--content-focus);
}
._wysiwyg4all p ._color,
._wysiwyg4all h1 ._color,
._wysiwyg4all h2 ._color,
._wysiwyg4all h3 ._color,
._wysiwyg4all h4 ._color,
._wysiwyg4all h5 ._color,
._wysiwyg4all h6 ._color,
._wysiwyg4all small ._color,
._wysiwyg4all i ._color,
._wysiwyg4all li ._color,
._wysiwyg4all td ._color,
._wysiwyg4all th ._color {
  text-decoration: inherit;
  color: var(--content-focus);
}
._wysiwyg4all p ._color_stop,
._wysiwyg4all h1 ._color_stop,
._wysiwyg4all h2 ._color_stop,
._wysiwyg4all h3 ._color_stop,
._wysiwyg4all h4 ._color_stop,
._wysiwyg4all h5 ._color_stop,
._wysiwyg4all h6 ._color_stop,
._wysiwyg4all small ._color_stop,
._wysiwyg4all i ._color_stop,
._wysiwyg4all li ._color_stop,
._wysiwyg4all td ._color_stop,
._wysiwyg4all th ._color_stop {
  color: var(--content-text);
}
._wysiwyg4all p ._b,
._wysiwyg4all h1 ._b,
._wysiwyg4all h2 ._b,
._wysiwyg4all h3 ._b,
._wysiwyg4all h4 ._b,
._wysiwyg4all h5 ._b,
._wysiwyg4all h6 ._b,
._wysiwyg4all small ._b,
._wysiwyg4all i ._b,
._wysiwyg4all li ._b,
._wysiwyg4all td ._b,
._wysiwyg4all th ._b {
  font-weight: bold;
}
._wysiwyg4all p ._b_stop,
._wysiwyg4all h1 ._b_stop,
._wysiwyg4all h2 ._b_stop,
._wysiwyg4all h3 ._b_stop,
._wysiwyg4all h4 ._b_stop,
._wysiwyg4all h5 ._b_stop,
._wysiwyg4all h6 ._b_stop,
._wysiwyg4all small ._b_stop,
._wysiwyg4all i ._b_stop,
._wysiwyg4all li ._b_stop,
._wysiwyg4all td ._b_stop,
._wysiwyg4all th ._b_stop {
  font-weight: normal;
}
._wysiwyg4all p ._u,
._wysiwyg4all h1 ._u,
._wysiwyg4all h2 ._u,
._wysiwyg4all h3 ._u,
._wysiwyg4all h4 ._u,
._wysiwyg4all h5 ._u,
._wysiwyg4all h6 ._u,
._wysiwyg4all small ._u,
._wysiwyg4all i ._u,
._wysiwyg4all li ._u,
._wysiwyg4all td ._u,
._wysiwyg4all th ._u {
  text-decoration: underline;
}
._wysiwyg4all p ._u ._del,
._wysiwyg4all h1 ._u ._del,
._wysiwyg4all h2 ._u ._del,
._wysiwyg4all h3 ._u ._del,
._wysiwyg4all h4 ._u ._del,
._wysiwyg4all h5 ._u ._del,
._wysiwyg4all h6 ._u ._del,
._wysiwyg4all small ._u ._del,
._wysiwyg4all i ._u ._del,
._wysiwyg4all li ._u ._del,
._wysiwyg4all td ._u ._del,
._wysiwyg4all th ._u ._del,
._wysiwyg4all p ._u ._del_stop,
._wysiwyg4all h1 ._u ._del_stop,
._wysiwyg4all h2 ._u ._del_stop,
._wysiwyg4all h3 ._u ._del_stop,
._wysiwyg4all h4 ._u ._del_stop,
._wysiwyg4all h5 ._u ._del_stop,
._wysiwyg4all h6 ._u ._del_stop,
._wysiwyg4all small ._u ._del_stop,
._wysiwyg4all i ._u ._del_stop,
._wysiwyg4all li ._u ._del_stop,
._wysiwyg4all td ._u ._del_stop,
._wysiwyg4all th ._u ._del_stop,
._wysiwyg4all p ._u ._u_stop,
._wysiwyg4all h1 ._u ._u_stop,
._wysiwyg4all h2 ._u ._u_stop,
._wysiwyg4all h3 ._u ._u_stop,
._wysiwyg4all h4 ._u ._u_stop,
._wysiwyg4all h5 ._u ._u_stop,
._wysiwyg4all h6 ._u ._u_stop,
._wysiwyg4all small ._u ._u_stop,
._wysiwyg4all i ._u ._u_stop,
._wysiwyg4all li ._u ._u_stop,
._wysiwyg4all td ._u ._u_stop,
._wysiwyg4all th ._u ._u_stop {
  display: inline-block;
}
._wysiwyg4all p ._u ._del *,
._wysiwyg4all h1 ._u ._del *,
._wysiwyg4all h2 ._u ._del *,
._wysiwyg4all h3 ._u ._del *,
._wysiwyg4all h4 ._u ._del *,
._wysiwyg4all h5 ._u ._del *,
._wysiwyg4all h6 ._u ._del *,
._wysiwyg4all small ._u ._del *,
._wysiwyg4all i ._u ._del *,
._wysiwyg4all li ._u ._del *,
._wysiwyg4all td ._u ._del *,
._wysiwyg4all th ._u ._del *,
._wysiwyg4all p ._u ._del_stop *,
._wysiwyg4all h1 ._u ._del_stop *,
._wysiwyg4all h2 ._u ._del_stop *,
._wysiwyg4all h3 ._u ._del_stop *,
._wysiwyg4all h4 ._u ._del_stop *,
._wysiwyg4all h5 ._u ._del_stop *,
._wysiwyg4all h6 ._u ._del_stop *,
._wysiwyg4all small ._u ._del_stop *,
._wysiwyg4all i ._u ._del_stop *,
._wysiwyg4all li ._u ._del_stop *,
._wysiwyg4all td ._u ._del_stop *,
._wysiwyg4all th ._u ._del_stop *,
._wysiwyg4all p ._u ._u_stop *,
._wysiwyg4all h1 ._u ._u_stop *,
._wysiwyg4all h2 ._u ._u_stop *,
._wysiwyg4all h3 ._u ._u_stop *,
._wysiwyg4all h4 ._u ._u_stop *,
._wysiwyg4all h5 ._u ._u_stop *,
._wysiwyg4all h6 ._u ._u_stop *,
._wysiwyg4all small ._u ._u_stop *,
._wysiwyg4all i ._u ._u_stop *,
._wysiwyg4all li ._u ._u_stop *,
._wysiwyg4all td ._u ._u_stop *,
._wysiwyg4all th ._u ._u_stop * {
  display: inline-block;
}
._wysiwyg4all p ._u_stop,
._wysiwyg4all h1 ._u_stop,
._wysiwyg4all h2 ._u_stop,
._wysiwyg4all h3 ._u_stop,
._wysiwyg4all h4 ._u_stop,
._wysiwyg4all h5 ._u_stop,
._wysiwyg4all h6 ._u_stop,
._wysiwyg4all small ._u_stop,
._wysiwyg4all i ._u_stop,
._wysiwyg4all li ._u_stop,
._wysiwyg4all td ._u_stop,
._wysiwyg4all th ._u_stop {
  text-decoration: none;
}
._wysiwyg4all p ._del,
._wysiwyg4all h1 ._del,
._wysiwyg4all h2 ._del,
._wysiwyg4all h3 ._del,
._wysiwyg4all h4 ._del,
._wysiwyg4all h5 ._del,
._wysiwyg4all h6 ._del,
._wysiwyg4all small ._del,
._wysiwyg4all i ._del,
._wysiwyg4all li ._del,
._wysiwyg4all td ._del,
._wysiwyg4all th ._del {
  text-decoration: line-through;
}
._wysiwyg4all p ._del ._u,
._wysiwyg4all h1 ._del ._u,
._wysiwyg4all h2 ._del ._u,
._wysiwyg4all h3 ._del ._u,
._wysiwyg4all h4 ._del ._u,
._wysiwyg4all h5 ._del ._u,
._wysiwyg4all h6 ._del ._u,
._wysiwyg4all small ._del ._u,
._wysiwyg4all i ._del ._u,
._wysiwyg4all li ._del ._u,
._wysiwyg4all td ._del ._u,
._wysiwyg4all th ._del ._u,
._wysiwyg4all p ._del ._u_stop,
._wysiwyg4all h1 ._del ._u_stop,
._wysiwyg4all h2 ._del ._u_stop,
._wysiwyg4all h3 ._del ._u_stop,
._wysiwyg4all h4 ._del ._u_stop,
._wysiwyg4all h5 ._del ._u_stop,
._wysiwyg4all h6 ._del ._u_stop,
._wysiwyg4all small ._del ._u_stop,
._wysiwyg4all i ._del ._u_stop,
._wysiwyg4all li ._del ._u_stop,
._wysiwyg4all td ._del ._u_stop,
._wysiwyg4all th ._del ._u_stop,
._wysiwyg4all p ._del ._del_stop,
._wysiwyg4all h1 ._del ._del_stop,
._wysiwyg4all h2 ._del ._del_stop,
._wysiwyg4all h3 ._del ._del_stop,
._wysiwyg4all h4 ._del ._del_stop,
._wysiwyg4all h5 ._del ._del_stop,
._wysiwyg4all h6 ._del ._del_stop,
._wysiwyg4all small ._del ._del_stop,
._wysiwyg4all i ._del ._del_stop,
._wysiwyg4all li ._del ._del_stop,
._wysiwyg4all td ._del ._del_stop,
._wysiwyg4all th ._del ._del_stop {
  display: inline-block;
}
._wysiwyg4all p ._del ._u *,
._wysiwyg4all h1 ._del ._u *,
._wysiwyg4all h2 ._del ._u *,
._wysiwyg4all h3 ._del ._u *,
._wysiwyg4all h4 ._del ._u *,
._wysiwyg4all h5 ._del ._u *,
._wysiwyg4all h6 ._del ._u *,
._wysiwyg4all small ._del ._u *,
._wysiwyg4all i ._del ._u *,
._wysiwyg4all li ._del ._u *,
._wysiwyg4all td ._del ._u *,
._wysiwyg4all th ._del ._u *,
._wysiwyg4all p ._del ._u_stop *,
._wysiwyg4all h1 ._del ._u_stop *,
._wysiwyg4all h2 ._del ._u_stop *,
._wysiwyg4all h3 ._del ._u_stop *,
._wysiwyg4all h4 ._del ._u_stop *,
._wysiwyg4all h5 ._del ._u_stop *,
._wysiwyg4all h6 ._del ._u_stop *,
._wysiwyg4all small ._del ._u_stop *,
._wysiwyg4all i ._del ._u_stop *,
._wysiwyg4all li ._del ._u_stop *,
._wysiwyg4all td ._del ._u_stop *,
._wysiwyg4all th ._del ._u_stop *,
._wysiwyg4all p ._del ._del_stop *,
._wysiwyg4all h1 ._del ._del_stop *,
._wysiwyg4all h2 ._del ._del_stop *,
._wysiwyg4all h3 ._del ._del_stop *,
._wysiwyg4all h4 ._del ._del_stop *,
._wysiwyg4all h5 ._del ._del_stop *,
._wysiwyg4all h6 ._del ._del_stop *,
._wysiwyg4all small ._del ._del_stop *,
._wysiwyg4all i ._del ._del_stop *,
._wysiwyg4all li ._del ._del_stop *,
._wysiwyg4all td ._del ._del_stop *,
._wysiwyg4all th ._del ._del_stop * {
  display: inline-block;
}
._wysiwyg4all p ._del_stop,
._wysiwyg4all h1 ._del_stop,
._wysiwyg4all h2 ._del_stop,
._wysiwyg4all h3 ._del_stop,
._wysiwyg4all h4 ._del_stop,
._wysiwyg4all h5 ._del_stop,
._wysiwyg4all h6 ._del_stop,
._wysiwyg4all small ._del_stop,
._wysiwyg4all i ._del_stop,
._wysiwyg4all li ._del_stop,
._wysiwyg4all td ._del_stop,
._wysiwyg4all th ._del_stop {
  text-decoration: none;
}
._wysiwyg4all p ._i,
._wysiwyg4all h1 ._i,
._wysiwyg4all h2 ._i,
._wysiwyg4all h3 ._i,
._wysiwyg4all h4 ._i,
._wysiwyg4all h5 ._i,
._wysiwyg4all h6 ._i,
._wysiwyg4all small ._i,
._wysiwyg4all i ._i,
._wysiwyg4all li ._i,
._wysiwyg4all td ._i,
._wysiwyg4all th ._i {
  font-style: italic;
}
._wysiwyg4all p ._i *,
._wysiwyg4all h1 ._i *,
._wysiwyg4all h2 ._i *,
._wysiwyg4all h3 ._i *,
._wysiwyg4all h4 ._i *,
._wysiwyg4all h5 ._i *,
._wysiwyg4all h6 ._i *,
._wysiwyg4all small ._i *,
._wysiwyg4all i ._i *,
._wysiwyg4all li ._i *,
._wysiwyg4all td ._i *,
._wysiwyg4all th ._i * {
  font-style: inherit;
}
._wysiwyg4all p ._i_stop,
._wysiwyg4all h1 ._i_stop,
._wysiwyg4all h2 ._i_stop,
._wysiwyg4all h3 ._i_stop,
._wysiwyg4all h4 ._i_stop,
._wysiwyg4all h5 ._i_stop,
._wysiwyg4all h6 ._i_stop,
._wysiwyg4all small ._i_stop,
._wysiwyg4all i ._i_stop,
._wysiwyg4all li ._i_stop,
._wysiwyg4all td ._i_stop,
._wysiwyg4all th ._i_stop {
  font-style: normal;
}
._wysiwyg4all p ._small,
._wysiwyg4all h1 ._small,
._wysiwyg4all h2 ._small,
._wysiwyg4all h3 ._small,
._wysiwyg4all h4 ._small,
._wysiwyg4all h5 ._small,
._wysiwyg4all h6 ._small,
._wysiwyg4all small ._small,
._wysiwyg4all i ._small,
._wysiwyg4all li ._small,
._wysiwyg4all td ._small,
._wysiwyg4all th ._small {
  font-weight: normal;
  text-decoration: none;
  font-size: var(--wysiwyg-small);
}
._wysiwyg4all p ._small_stop,
._wysiwyg4all h1 ._small_stop,
._wysiwyg4all h2 ._small_stop,
._wysiwyg4all h3 ._small_stop,
._wysiwyg4all h4 ._small_stop,
._wysiwyg4all h5 ._small_stop,
._wysiwyg4all h6 ._small_stop,
._wysiwyg4all small ._small_stop,
._wysiwyg4all i ._small_stop,
._wysiwyg4all li ._small_stop,
._wysiwyg4all td ._small_stop,
._wysiwyg4all th ._small_stop {
  font-weight: inherit;
  text-decoration: none;
}
._wysiwyg4all p ._h1,
._wysiwyg4all h1 ._h1,
._wysiwyg4all h2 ._h1,
._wysiwyg4all h3 ._h1,
._wysiwyg4all h4 ._h1,
._wysiwyg4all h5 ._h1,
._wysiwyg4all h6 ._h1,
._wysiwyg4all small ._h1,
._wysiwyg4all i ._h1,
._wysiwyg4all li ._h1,
._wysiwyg4all td ._h1,
._wysiwyg4all th ._h1 {
  font-weight: inherit;
  text-decoration: inherit;
  font-size: var(--wysiwyg-h1);
}
._wysiwyg4all p ._h1_stop,
._wysiwyg4all h1 ._h1_stop,
._wysiwyg4all h2 ._h1_stop,
._wysiwyg4all h3 ._h1_stop,
._wysiwyg4all h4 ._h1_stop,
._wysiwyg4all h5 ._h1_stop,
._wysiwyg4all h6 ._h1_stop,
._wysiwyg4all small ._h1_stop,
._wysiwyg4all i ._h1_stop,
._wysiwyg4all li ._h1_stop,
._wysiwyg4all td ._h1_stop,
._wysiwyg4all th ._h1_stop {
  text-decoration: inherit;
}
._wysiwyg4all p ._h2,
._wysiwyg4all h1 ._h2,
._wysiwyg4all h2 ._h2,
._wysiwyg4all h3 ._h2,
._wysiwyg4all h4 ._h2,
._wysiwyg4all h5 ._h2,
._wysiwyg4all h6 ._h2,
._wysiwyg4all small ._h2,
._wysiwyg4all i ._h2,
._wysiwyg4all li ._h2,
._wysiwyg4all td ._h2,
._wysiwyg4all th ._h2 {
  font-weight: inherit;
  text-decoration: inherit;
  font-size: var(--wysiwyg-h2);
}
._wysiwyg4all p ._h2_stop,
._wysiwyg4all h1 ._h2_stop,
._wysiwyg4all h2 ._h2_stop,
._wysiwyg4all h3 ._h2_stop,
._wysiwyg4all h4 ._h2_stop,
._wysiwyg4all h5 ._h2_stop,
._wysiwyg4all h6 ._h2_stop,
._wysiwyg4all small ._h2_stop,
._wysiwyg4all i ._h2_stop,
._wysiwyg4all li ._h2_stop,
._wysiwyg4all td ._h2_stop,
._wysiwyg4all th ._h2_stop {
  text-decoration: inherit;
}
._wysiwyg4all p ._h3,
._wysiwyg4all h1 ._h3,
._wysiwyg4all h2 ._h3,
._wysiwyg4all h3 ._h3,
._wysiwyg4all h4 ._h3,
._wysiwyg4all h5 ._h3,
._wysiwyg4all h6 ._h3,
._wysiwyg4all small ._h3,
._wysiwyg4all i ._h3,
._wysiwyg4all li ._h3,
._wysiwyg4all td ._h3,
._wysiwyg4all th ._h3 {
  font-weight: inherit;
  text-decoration: inherit;
  font-size: var(--wysiwyg-h3);
}
._wysiwyg4all p ._h3_stop,
._wysiwyg4all h1 ._h3_stop,
._wysiwyg4all h2 ._h3_stop,
._wysiwyg4all h3 ._h3_stop,
._wysiwyg4all h4 ._h3_stop,
._wysiwyg4all h5 ._h3_stop,
._wysiwyg4all h6 ._h3_stop,
._wysiwyg4all small ._h3_stop,
._wysiwyg4all i ._h3_stop,
._wysiwyg4all li ._h3_stop,
._wysiwyg4all td ._h3_stop,
._wysiwyg4all th ._h3_stop {
  text-decoration: inherit;
}
._wysiwyg4all p ._h4,
._wysiwyg4all h1 ._h4,
._wysiwyg4all h2 ._h4,
._wysiwyg4all h3 ._h4,
._wysiwyg4all h4 ._h4,
._wysiwyg4all h5 ._h4,
._wysiwyg4all h6 ._h4,
._wysiwyg4all small ._h4,
._wysiwyg4all i ._h4,
._wysiwyg4all li ._h4,
._wysiwyg4all td ._h4,
._wysiwyg4all th ._h4 {
  font-weight: inherit;
  text-decoration: inherit;
  font-size: var(--wysiwyg-h4);
}
._wysiwyg4all p ._h4_stop,
._wysiwyg4all h1 ._h4_stop,
._wysiwyg4all h2 ._h4_stop,
._wysiwyg4all h3 ._h4_stop,
._wysiwyg4all h4 ._h4_stop,
._wysiwyg4all h5 ._h4_stop,
._wysiwyg4all h6 ._h4_stop,
._wysiwyg4all small ._h4_stop,
._wysiwyg4all i ._h4_stop,
._wysiwyg4all li ._h4_stop,
._wysiwyg4all td ._h4_stop,
._wysiwyg4all th ._h4_stop {
  text-decoration: inherit;
}
._wysiwyg4all p ._h5,
._wysiwyg4all h1 ._h5,
._wysiwyg4all h2 ._h5,
._wysiwyg4all h3 ._h5,
._wysiwyg4all h4 ._h5,
._wysiwyg4all h5 ._h5,
._wysiwyg4all h6 ._h5,
._wysiwyg4all small ._h5,
._wysiwyg4all i ._h5,
._wysiwyg4all li ._h5,
._wysiwyg4all td ._h5,
._wysiwyg4all th ._h5 {
  font-weight: inherit;
  text-decoration: inherit;
  font-size: var(--wysiwyg-h5);
}
._wysiwyg4all p ._h5_stop,
._wysiwyg4all h1 ._h5_stop,
._wysiwyg4all h2 ._h5_stop,
._wysiwyg4all h3 ._h5_stop,
._wysiwyg4all h4 ._h5_stop,
._wysiwyg4all h5 ._h5_stop,
._wysiwyg4all h6 ._h5_stop,
._wysiwyg4all small ._h5_stop,
._wysiwyg4all i ._h5_stop,
._wysiwyg4all li ._h5_stop,
._wysiwyg4all td ._h5_stop,
._wysiwyg4all th ._h5_stop {
  text-decoration: inherit;
}
._wysiwyg4all p ._h6,
._wysiwyg4all h1 ._h6,
._wysiwyg4all h2 ._h6,
._wysiwyg4all h3 ._h6,
._wysiwyg4all h4 ._h6,
._wysiwyg4all h5 ._h6,
._wysiwyg4all h6 ._h6,
._wysiwyg4all small ._h6,
._wysiwyg4all i ._h6,
._wysiwyg4all li ._h6,
._wysiwyg4all td ._h6,
._wysiwyg4all th ._h6 {
  font-weight: inherit;
  text-decoration: inherit;
  font-size: var(--wysiwyg-h6);
}
._wysiwyg4all p ._h6_stop,
._wysiwyg4all h1 ._h6_stop,
._wysiwyg4all h2 ._h6_stop,
._wysiwyg4all h3 ._h6_stop,
._wysiwyg4all h4 ._h6_stop,
._wysiwyg4all h5 ._h6_stop,
._wysiwyg4all h6 ._h6_stop,
._wysiwyg4all small ._h6_stop,
._wysiwyg4all i ._h6_stop,
._wysiwyg4all li ._h6_stop,
._wysiwyg4all td ._h6_stop,
._wysiwyg4all th ._h6_stop {
  text-decoration: inherit;
}
._wysiwyg4all ._media_ {
  width: 100%;
  margin: auto;
}
._wysiwyg4all ._media_ > * {
  max-width: 100%;
  margin: auto;
}
._wysiwyg4all h1 {
  font-size: var(--wysiwyg-h1);
}
._wysiwyg4all h2 {
  font-size: var(--wysiwyg-h2);
}
._wysiwyg4all h3 {
  font-size: var(--wysiwyg-h3);
}
._wysiwyg4all h4 {
  font-size: var(--wysiwyg-h4);
}
._wysiwyg4all h5 {
  font-size: var(--wysiwyg-h5);
}
._wysiwyg4all h6 {
  font-size: var(--wysiwyg-h6);
}
._wysiwyg4all small {
  font-size: var(--wysiwyg-small);
}
._wysiwyg4all hr {
  line-height: 0;
}
._wysiwyg4all ul,
._wysiwyg4all ol {
  margin: 0.5em 0;
}
._wysiwyg4all blockquote {
  margin: 0.5em 0;
  padding: 0.25em 0 0.25em 1em;
  box-sizing: border-box;
  border-left: 3px solid var(--content-focus);
  border-right: none;
  position: relative;
  line-height: 1.6;
  min-height: 2.1em;
  display: block;
}
